@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
body{
    background-image: linear-gradient(to right, #ff6e7f, #5ebaec, #ff6e7f);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-form{
    /* width: 50%; */
    background-color: white;
    padding: 5%;
    min-width: 400px;
    border-radius: 10px;
    box-shadow:  10px 5px 5px rgb(98, 85, 85);
}
form h1{
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

form p{
    font-size: 14px;
    /* text-align: center; */
}

form input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    /* text-align: center; */
    transition: border-bottom 2s ease, border-image 2s ease;
}
  
form input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #ff6e7f, #bfe9ff, #ff6e7f);
    border-image-slice: 1;
    border-width: 0 0 2px 0; /* bottom only */
    border-style: solid;
}
    
.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
.btn-grad {
   margin: 10px;
   padding: 8px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
